@model ProjectDipMVC.Models.SectionsProject

@{
    ViewData["Title"] = "Изменить";
}

<h1>Изменить</h1>

<h4>Секция проекта</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SectionsId" />
            <div class="form-group">
                <label asp-for="NameSections" class="control-label">Название секции</label>
                <input asp-for="NameSections" class="form-control" />
                <span asp-validation-for="NameSections" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberSections" class="control-label">Номер секции</label>
                <input asp-for="NumberSections" class="form-control" />
                <span asp-validation-for="NumberSections" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjDscrptId" class="control-label">Задание</label>
                <select asp-for="ProjDscrptId" class="form-control">
                    @foreach (var item in ViewBag.ProjDscrpt)
                    {
                        <option selected="selected" value="@item.ProjDscrptId">@item.SectionName</option>
                    }
                </select>
                <span asp-validation-for="ProjDscrptId" class="text-danger"></span>
                <span class="text-danger field-validation-error" data-valmsg-for="NameSections" data-valmsg-replace="true">@TempData["ErrMessage"]</span>
            </div>
            <div class="form-group">
                <label asp-for="NameFileSections" class="control-label">Название текущего файла секции</label>
                <input asp-for="NameFileSections" class="form-control" readonly="readonly"/>
                <span asp-validation-for="NameFileSections" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileSections" class="control-label">Файл секции</label>
                <input asp-for="FileSections" class="form-control" type="file"/>
                <span asp-validation-for="FileSections" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Список секций</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
