@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Вы находитесь на главной странице. <br />Чтобы воспользоваться функционалом проекта, пожалуйста, перейдите на соответствующую вкладку меню!</p>

</div>

@if (User.Identity.IsAuthenticated)
{
    <p>Вы вошли как <b>@User.Identity.Name</b>!</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}
